body {
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.heading {
    width:100%;
    display: block;
    margin: 0;
    padding-top: 2%;
    color:#000066;
    text-shadow: 2px 2px lightblue;
}

/*main*/
.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    justify-content: center;
}

.list {
    text-align: center;
}

.options {
    box-shadow:  3px 3px lightblue;
    font-weight: bold;  
    padding-top: 1%;
    padding-bottom: 1%;
    border: 2px solid #aa7ecd;
    text-transform: uppercase;
    text-align: center;
    background: rgb(150, 248, 235);
    font-size: 1.1em;
    border-radius: 10px;
    outline:none;
}

.cat {
    width: 500px;
    height: 600px; 
}